@mixin nav {
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-container {
    display: none;
    width: 180px;
    position: absolute;
    z-index: 1;
  }
  
  .dropdown-content {
    margin-top: 2px;
    background-color: $bodyBackGround;
    padding-top: 30px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 3px;
  }
  
  .dropdown-content a {
    color: $headerBackground;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 14px;
    display: block;
  }
  
  .dropdown-content a .material-icons {
    font-size: 10px;
  }
  
  
  .dropdown-content a:hover {
    background-color: #b0b1b1ef; color: $headerBackground;
  }
  
  .dropdown:hover .dropdown-container {
    display: block;
  }
}
@mixin button {
  border: solid $black 1px;;
  outline: none;
  background: none;
  // margin-right: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  border-radius: 3px;
  color: $black;

  &:hover {
    transform: scale(1.05);
  }

  &:disabled {
    background: rgba(201, 198, 198, 0.863);
    cursor: not-allowed;
  }
}

@mixin content {
  display: block;
  position: relative;
  background-color: white;
  bottom: 40px;
  padding: 40px 90px 40px 90px;

  .body{
    h2 {
      color: #4D4D4D;
      margin-left: 20px;
    }
  }
}

@mixin register-button {
  position: absolute;
  margin-top: 50px;
  top: 53%;
  left: 47%
}

@mixin control {
  position: fixed;
  left: 0;
  bottom: 50%;
  height: 80px;
  width: 20px;
  color: $lightBlack;

  i {
    font-size: 40px;
    cursor: pointer;

  }

  &:hover {
    transform: scale(1.05);
  }
}


@mixin register {
  position: absolute;
  top: 50%;
  left: 49%;

  .strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
  }

  .strike > span {
    position: absolute;
    display: inline-block;
  }

  .strike > span:before,
  .strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 100px;
    height: 1px;
    background: black;
  }

  .strike > span:before {
    right: 100%;
    margin-right: 15px;
  }

  .strike > span:after {
    left: 100%;
    margin-left: 15px;
  }
}

@mixin box {
  position: relative;
  width: 100%;
  padding-top: 10px;
  min-height: 270px;
  float: left;

  h3{
    margin: 0 0 20px;
    font-size: 30px;
    font-weight: normal;
    padding: 0;
    color: #474747;
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
  }

  #signUpAsAdmin{
    width: 190px;
    margin-top: 15px;
    float: left;
  }

  .inputBox {
    position: relative;
    input{
      width: 95%;
      padding: 10px 10px 12px 10px;
      font-size: 16px;
      color: #474747;
      background: white;
      border: solid rgb(167, 165, 168) 1px;
      outline: none;
      margin-bottom: 10px;
      margin-top: 8px;
      border-radius: 4px;


      &:focus {
        background: rgb(231, 229, 231);
        transition: 0.5s;
      }
    }

    input.has-error {
      border: red 1px solid;
    }
    
    textarea.has-error {
      border: red 1px solid;
    }

    textarea{
      width: 95%;
      padding: 10px 10px 12px 10px;
      font-size: 16px;
      color: #474747;
      background: white;
      border: solid $lightBlack 1px;
      outline: none;
      margin-bottom: 10px;
      margin-top: 8px;
      border-radius: 4px;
    }
  }

  #forgotPassword {
    width: 140px;
    margin-top: 15px;
    float: left;
  }

  #forgotPassword a {
    text-decoration: none;
    color: black;
  }

  #forgotPassword a:hover {
    text-decoration: underline;
  }

  label {
    color: #474747;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
  }

  #submit {
    width: 160px;
    float: right;

    input[type="submit"] {
      border: solid $lightBlack 1px;;
      outline: none;
      background: none;
      // margin-right: 4px;
      padding: 10px 20px;
      cursor: pointer;
      font-size: 16px;
      font-family: "Trebuchet MS", Helvetica, sans-serif;
      border-radius: 3px;
      color: $lightBlack;
      float: right;

      &:hover {
        transform: scale(1.05);
      }
    }

    img{
      margin-top: 5px;
      float: right;
    }
  }
}