@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);


body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, img, dd {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: $mainFont;
}

html {
    width: 100%;
    height: 100%;
}

body {
  background-color: white;
  min-height: 100%;
}