$headerLinkFont: "Trebuchet MS", Helvetica, sans-serif;
$mainFont: 'Raleway', sans-serif;
$bodyBackGround: #dbdfdf;
$headerBackground: #7a604a;
$linkColor: #4f6607;
$milkyWhite: #D7D7D7;
$offGreen: #7E9C18;
$arrowBox: #afafaf;
$error: #B7471B;
$lightBlack: rgb(76, 78, 76);
$black: rgb(38, 39, 38);