$header-link-font: "Trebuchet MS", Helvetica, sans-serif;
$main-font: 'Raleway', sans-serif;
$body-back-round: #dbdfdf;
$header-background-color: #7a604a;
$arrow-box: #afafaf;
$error: #B7471B;
$light-black: rgb(76, 78, 76);
$black: rgb(38, 39, 38);