
@import "variables";
@import "reset";
@import "mixins";

header {
  height: 80px;
  background: $headerBackground;
  width: 100%;
  z-index: 10;
  position: fixed;

  .nav{
    float: right;
    padding-right: 30px;
  }

  .logo {
    float: left;
    margin-left: 30px;
  }

  a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    font-family: $headerLinkFont;
  }

  li:not(:last-child){
    list-style: none;
    float: left;
    margin-left: 15px;
    padding-top: 30px;
  }

  .nav .dropdown {
    width: 100px;
    position: relative;
    display: inline-block;
  }

  .nav .dropdown-content {
    display: none;
    left: -30px;
    position: absolute;
    background-color: $headerBackground;
    min-width: 110px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 3px;
  }

  .nav .dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 13px;
    display: block;
  }

  .nav .dropdown-content a:hover {
    background-color: #dbdfdf; color: $headerBackground;
  }

  .nav .dropdown:hover .dropdown-content {
    display: block;
  }

  #signIn {
    list-style: none;
    float: left;
    margin-left: 15px;
    padding-top: 22px;
  }
}

#banner {
  width: 100%;
  height: 500px;
  position: fixed;
  top: 80px;
  background: url('../images/banner.jpg');
  background-repeat-x: no-repeat;
  background-size: cover;
}

a{
  text-decoration: none;
  font-size: 14px;
  color:  $linkColor;
  cursor: pointer;
}

.button {
  @include button;
}

.button-default {
  @include button;
  background: none;
  border: solid 1px #7E9C18;
  color: #7E9C18;
}

.button-error {
  @include button;
  background: none;
  border: solid 1px #B7471B;
  color: #B7471B;
}

#content {
  @include content;
}

#content2 {
  @include content;
  position: relative;
  top: 65px;
  background-color: $bodyBackGround;
  min-height: 800px;
  // padding: 40px 100px 40px 100px;
}

table{
  position: relative;
  margin-top: 15px;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border-radius: 5px;

  thead tr{
    background: #afafaf;
  }

  thead th{
    color: #4D4D4D;
    padding: 12px;
    text-align: left;
  }

  tbody tr {
    background: $milkyWhite;
  }

  tbody tr:nth-child(odd) {
    background: #cccecd;
  }

  tbody td {
    padding: 12px;
    text-align: left;

    span {
      margin: 5px;
    }
  }
}


.arrowBox {
  width: 200px;
  height: 120px;
  background: $arrowBox;
  border-radius: 5px;
  position: absolute;
  top: -5.0em;
  left: 75px;
  padding: 10px;
  font-size: 13px;
  line-height: 22px;
  text-align: center;

  &:after {
    content: ' ';
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid $arrowBox;
    position: absolute;
    right: 100%;
    top: 50%;
    margin-top: -10px;
  }
}

.material-icons {
  font-size: 15px;
}

.tooltips {
  position: relative;
  z-index: 1;

  div {
    display: none;
  }

  &:hover div {
    display: block;
    color: #4D4D4D;
  }
}


.about {
  margin-top: 15px;
  h1{
    color: #7a604a;
  }
  p{
    font-size: 20px;
  }
}

.dateInput {
  width: 260px;
  input {
    width: 65%;
    padding: 10px 10px 12px 10px;
    font-size: 16px;
    color: #474747;
    background: #dbdfdf;
    border: solid #7E9C18 1px;
    outline: none;
    margin-bottom: 10px;
    margin: 10px 10px 0 44px;
    border-radius: 4px;
  }
  span {
    color: #4D4D4D;
    font-size: 35px;
    font-weight: bold;
  }
  .material-icons {
    font-size: 30px;
    padding-top: 20px;
    position: absolute;
  }
}


#card_container{
  padding-left: 5%;
  width: 80%;
  margin: 12px auto 12px auto;

  .card {
    width: 295px;
    position: relative;
    top: 50%;
    margin: 12px;
    background: #f1f1f1;
    overflow: hidden;
    box-shadow: 0px 0px 20px #000000;
    float: left;

    .card-header {
      height: 300px;
      overflow: hidden;
      position: relative;

      img {
        height: 100%
      }

      .cover {
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%;
      }

      .menu {
        position: absolute;
        top: 15px;
        right: 15px;
        display: flex;
        align-items: center;
        color: white;
        opacity: 0.7;
        cursor: pointer;

        ul {
          padding: 6px 0;
          margin: 0 14px;
          display: none;

          li {
            list-style: none;
            float: left;
            width: 30px;
            text-align: center;
          }
        }

        &:hover > ul {
          display: block;
        }
      }

      .name {
        position: absolute;
        bottom: 20px;
        left: 20px;
        color: white;
        opacity: 0.7px;
      }    

      .last {
        display: block;
        font-size: 26px;
      }
    }

    .card_container {
      padding: 20px;
      overflow: hidden;

      .left {
        width: 160px;
        float: left;

        h3 {
          color: $headerBackground;
          font-size: 22px;
        }

        p {
          margin: 10px 0;
          height: 55px;
          overflow-y: scroll;
          font-size: 12px;
        }

        .add_button {
          width: 100%;
          background: $headerBackground;
          border-radius: 12px;
          color: white;
          text-align: center;
          display: block;
          padding: 8px 0;
          transition: 0.2s all;

          &:hover {
            color: #604a37;
          }
        }
      }

      .right {
        overflow: hidden;
        float: right;
        text-align: right;

        .item {
          margin: 6px 0;
        }

        .num {
          display: block;
          font-size: 30px;
        }

        .word {
          font-size: 16px;
        }
      }
    }
  }

}

.box {
  @include box;
  top: 35%;
}

.box2 {
  @include box;
  top: -21%;
}

.box3 {
  @include box;
  position: relative;
  left: 0%;
  transform: translate( 0, 0 );
  margin-top: 12px;
}

.register2 {
  @include register;
  top: 15%;
}

.register {
  @include register;
}

.register-button {
  @include register-button;
}

.signIn-button {
  @include register-button;
  top: 16%;
  left: 47%
}

#menus {
  width: 90%;
  margin-top: 12px;
  h3{
    margin: 12px;
    color: #4D4D4D;
    text-decoration: underline;
    font-size: 22px;
  }

  p{
    margin:12px 15px 12px 15px;
    font-size: 13px;
  }

  b{
    color: #4D4D4D;
  }
}

.accordion{
  background:  #cccecd;
  width: 100%;
  text-align: left;
  color:  #4f6607;
  padding: 16px;
  font-size: 15px;
  border: none;
  border-bottom: 1px solid #4D4D4D;
  outline: none;
  transition: 0.4s;
  border-radius: 0;

  &:active {
    background: #a5a4a4;
    color: white;
  }

  &:hover {
    cursor: pointer;
    background: #a5a4a4;
    color: white;
  }

  &:first-child{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  &:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

.panel{
  padding: 0px 18px;
  background: #D7D7D7;
  max-height: 0;
  overflow: hidden;
  transition: 0.5s;

  .panel-body{
    padding: 13px;
  }
}

.checkbox{
  display: block;
  position: relative;
  padding-left: 35px;
  padding-top: 5px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox input {
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

.checkbox:hover input ~ .check {
  border: solid 2px #7E9C18;
}

.checkbox input:checked ~ .check {
  border: none;
  background: #7E9C18;
}

.checkbox input:checked ~ .check:after {
  display: block;
}

.checkbox .check:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}


.check{
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background: #eee;
  border: solid 1px #ccc;
}

.check:after {
  content: '';
  position: absolute;
  display: none;
}


[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

#menu-section {
	margin: 40px auto;
	padding-left: 120px;
}





