#menus {
	width: 90%;
	margin-top: 12px;
}

#menus h3{
	margin: 12px;
	color: #4D4D4D;
	text-decoration: underline;
	font-size: 22px;
}

#menus p{
	margin:12px 15px 12px 15px;
	font-size: 13px;
}

#menus b{
	color: #4D4D4D;
}

button.accordion{
	background:  #cccecd;
	width: 100%;
	text-align: left;
	color:  #4f6607;
	padding: 16px;
	border: none;
	border-bottom: 1px solid #4D4D4D;
	outline: none;
	transition: 0.4s;
	border-radius: 0;
}

button.accordion:active, button.accordion:hover{
	background: #a5a4a4;
	color: white;
}

div.panel{
	padding: 0px 18px;
	background: #D7D7D7;
	max-height: 0;
	overflow: hidden;
	transition: 0.5s;
}

div.panel-body{
	padding: 13px;
}

button.accordion:first-child{
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

div.panel:last-child {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}