@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
@import "https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";
body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, img, dd {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Raleway", sans-serif; }

html {
  width: 100%;
  height: 100%; }

body {
  background-color: #dbdfdf;
  min-height: 100%; }

#container {
  display: block;
  width: 100vw;
  padding: 0; }

header {
  height: 80px;
  background: #7a604a;
  width: 100%;
  z-index: 10;
  position: fixed; }
  header .nav {
    float: right;
    padding-right: 30px; }
  header .logo {
    float: left;
    margin-left: 30px; }
  header a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    font-family: "Trebuchet MS", Helvetica, sans-serif; }
  header li:not(:last-child) {
    list-style: none;
    float: left;
    margin-left: 15px;
    padding-top: 30px; }
  header .nav .dropdown {
    width: 100px;
    position: relative;
    display: inline-block; }
  header .nav .dropdown-content {
    display: none;
    left: -30px;
    position: absolute;
    background-color: #7a604a;
    min-width: 110px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 3px; }
  header .nav .dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 13px;
    display: block; }
  header .nav .dropdown-content a:hover {
    background-color: #dbdfdf;
    color: #7a604a; }
  header .nav .dropdown:hover .dropdown-content {
    display: block; }
  header #signIn {
    list-style: none;
    float: left;
    margin-left: 15px;
    padding-top: 22px; }

#banner {
  width: 100%;
  height: 500px;
  position: fixed;
  top: 80px;
  background: url("../images/banner.jpg");
  background-repeat-x: no-repeat;
  background-size: cover; }

a {
  text-decoration: none;
  font-size: 14px;
  color: #4f6607;
  cursor: pointer; }

.button {
  background: #7E9C18;
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  border-radius: 3px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  outline: none;
  cursor: pointer; }

.button-default {
  background: #7E9C18;
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  border-radius: 3px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  outline: none;
  cursor: pointer;
  background: none;
  border: solid 1px #7E9C18;
  color: #7E9C18; }

.button-error {
  background: #7E9C18;
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  border-radius: 3px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  outline: none;
  cursor: pointer;
  background: none;
  border: solid 1px #B7471B;
  color: #B7471B; }

#content {
  display: block;
  position: relative;
  top: 550px;
  background-color: #dbdfdf;
  height: 800px;
  padding: 40px 90px 40px 90px; }
  #content h2 {
    color: #4D4D4D;
    margin-left: 20px; }

#content2 {
  display: block;
  position: relative;
  top: 550px;
  background-color: #dbdfdf;
  height: 800px;
  padding: 40px 90px 40px 90px;
  position: relative;
  top: 65px;
  background-color: #dbdfdf;
  min-height: 800px; }
  #content2 h2 {
    color: #4D4D4D;
    margin-left: 20px; }

table {
  position: relative;
  margin-top: 15px;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border-radius: 5px; }
  table thead tr {
    background: #afafaf; }
  table thead th {
    color: #4D4D4D;
    padding: 12px;
    text-align: left; }
  table tbody tr {
    background: #D7D7D7; }
  table tbody tr:nth-child(odd) {
    background: #cccecd; }
  table tbody td {
    padding: 12px;
    text-align: left; }
    table tbody td span {
      margin: 5px; }

.arrowBox {
  width: 200px;
  height: 120px;
  background: #afafaf;
  border-radius: 5px;
  position: absolute;
  top: -5.0em;
  left: 75px;
  padding: 10px;
  font-size: 13px;
  line-height: 22px;
  text-align: center; }
  .arrowBox:after {
    content: ' ';
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #afafaf;
    position: absolute;
    right: 100%;
    top: 50%;
    margin-top: -10px; }

.material-icons {
  font-size: 15px; }

.tooltips {
  position: relative;
  z-index: 1; }
  .tooltips div {
    display: none; }
  .tooltips:hover div {
    display: block;
    color: #4D4D4D; }

.about {
  margin-top: 15px; }
  .about h1 {
    color: #7a604a; }
  .about p {
    font-size: 20px; }

.dateInput {
  width: 260px; }
  .dateInput input {
    width: 65%;
    padding: 10px 10px 12px 10px;
    font-size: 16px;
    color: #474747;
    background: #dbdfdf;
    border: solid #7E9C18 1px;
    outline: none;
    margin-bottom: 10px;
    margin: 10px 10px 0 44px;
    border-radius: 4px; }
  .dateInput span {
    color: #4D4D4D;
    font-size: 35px;
    font-weight: bold; }
  .dateInput .material-icons {
    font-size: 30px;
    padding-top: 20px;
    position: absolute; }

#card_container {
  padding-left: 5%;
  width: 80%;
  margin: 12px auto 12px auto; }
  #card_container .card {
    width: 295px;
    position: relative;
    top: 50%;
    margin: 12px;
    background: #f1f1f1;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 20px #000000;
    box-shadow: 0px 0px 20px #000000;
    float: left; }
    #card_container .card .card-header {
      height: 300px;
      overflow: hidden;
      position: relative; }
      #card_container .card .card-header img {
        height: 100%; }
      #card_container .card .card-header .cover {
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%; }
      #card_container .card .card-header .menu {
        position: absolute;
        top: 15px;
        right: 15px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        color: white;
        opacity: 0.7;
        cursor: pointer; }
        #card_container .card .card-header .menu ul {
          padding: 6px 0;
          margin: 0 14px;
          display: none; }
          #card_container .card .card-header .menu ul li {
            list-style: none;
            float: left;
            width: 30px;
            text-align: center; }
        #card_container .card .card-header .menu:hover > ul {
          display: block; }
      #card_container .card .card-header .name {
        position: absolute;
        bottom: 20px;
        left: 20px;
        color: white;
        opacity: 0.7px; }
      #card_container .card .card-header .last {
        display: block;
        font-size: 26px; }
    #card_container .card .card_container {
      padding: 20px;
      overflow: hidden; }
      #card_container .card .card_container .left {
        width: 160px;
        float: left; }
        #card_container .card .card_container .left h3 {
          color: #7a604a;
          font-size: 22px; }
        #card_container .card .card_container .left p {
          margin: 10px 0;
          height: 55px;
          overflow-y: scroll;
          font-size: 12px; }
        #card_container .card .card_container .left .add_button {
          width: 100%;
          background: #7a604a;
          border-radius: 12px;
          color: white;
          text-align: center;
          display: block;
          padding: 8px 0;
          -webkit-transition: 0.2s all;
          -o-transition: 0.2s all;
          transition: 0.2s all; }
          #card_container .card .card_container .left .add_button:hover {
            color: #604a37; }
      #card_container .card .card_container .right {
        overflow: hidden;
        float: right;
        text-align: right; }
        #card_container .card .card_container .right .item {
          margin: 6px 0; }
        #card_container .card .card_container .right .num {
          display: block;
          font-size: 30px; }
        #card_container .card .card_container .right .word {
          font-size: 16px; }

.box {
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 400px;
  min-height: 300px;
  background: #D7D7D7;
  padding: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  top: 35%; }
  .box h3 {
    margin: 0 0 20px;
    padding: 0;
    text-align: center;
    color: #666666;
    font-family: "Trebuchet MS", Helvetica, sans-serif; }
  .box .inputBox {
    position: relative; }
    .box .inputBox input {
      width: 93%;
      padding: 10px 10px 12px 10px;
      font-size: 16px;
      color: #474747;
      background: #dbdfdf;
      border: solid #7E9C18 1px;
      outline: none;
      margin-bottom: 10px;
      margin-top: 8px;
      border-radius: 4px; }
    .box .inputBox textarea {
      width: 93%;
      padding: 10px 10px 12px 10px;
      font-size: 16px;
      color: #474747;
      background: #dbdfdf;
      border: solid #7E9C18 1px;
      outline: none;
      margin-bottom: 10px;
      margin-top: 8px;
      border-radius: 4px; }
  .box #forgotPassword {
    width: 140px;
    margin-top: 18px;
    float: left; }
  .box #forgotPassword a {
    text-decoration: none;
    color: black; }
  .box #forgotPassword a:hover {
    text-decoration: underline; }
  .box #submit {
    width: 160px;
    float: right; }
    .box #submit input[type="submit"] {
      border: none;
      outline: none;
      background: #7E9C18;
      padding: 10px 20px;
      cursor: pointer;
      font-size: 16px;
      font-family: "Trebuchet MS", Helvetica, sans-serif;
      border-radius: 3px;
      color: #FFF;
      float: right; }

.box2 {
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 400px;
  min-height: 300px;
  background: #D7D7D7;
  padding: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  top: -21%; }
  .box2 h3 {
    margin: 0 0 20px;
    padding: 0;
    text-align: center;
    color: #666666;
    font-family: "Trebuchet MS", Helvetica, sans-serif; }
  .box2 .inputBox {
    position: relative; }
    .box2 .inputBox input {
      width: 93%;
      padding: 10px 10px 12px 10px;
      font-size: 16px;
      color: #474747;
      background: #dbdfdf;
      border: solid #7E9C18 1px;
      outline: none;
      margin-bottom: 10px;
      margin-top: 8px;
      border-radius: 4px; }
    .box2 .inputBox textarea {
      width: 93%;
      padding: 10px 10px 12px 10px;
      font-size: 16px;
      color: #474747;
      background: #dbdfdf;
      border: solid #7E9C18 1px;
      outline: none;
      margin-bottom: 10px;
      margin-top: 8px;
      border-radius: 4px; }
  .box2 #forgotPassword {
    width: 140px;
    margin-top: 18px;
    float: left; }
  .box2 #forgotPassword a {
    text-decoration: none;
    color: black; }
  .box2 #forgotPassword a:hover {
    text-decoration: underline; }
  .box2 #submit {
    width: 160px;
    float: right; }
    .box2 #submit input[type="submit"] {
      border: none;
      outline: none;
      background: #7E9C18;
      padding: 10px 20px;
      cursor: pointer;
      font-size: 16px;
      font-family: "Trebuchet MS", Helvetica, sans-serif;
      border-radius: 3px;
      color: #FFF;
      float: right; }

.box3 {
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 400px;
  min-height: 300px;
  background: #D7D7D7;
  padding: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  position: relative;
  left: 0%;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  margin-top: 12px; }
  .box3 h3 {
    margin: 0 0 20px;
    padding: 0;
    text-align: center;
    color: #666666;
    font-family: "Trebuchet MS", Helvetica, sans-serif; }
  .box3 .inputBox {
    position: relative; }
    .box3 .inputBox input {
      width: 93%;
      padding: 10px 10px 12px 10px;
      font-size: 16px;
      color: #474747;
      background: #dbdfdf;
      border: solid #7E9C18 1px;
      outline: none;
      margin-bottom: 10px;
      margin-top: 8px;
      border-radius: 4px; }
    .box3 .inputBox textarea {
      width: 93%;
      padding: 10px 10px 12px 10px;
      font-size: 16px;
      color: #474747;
      background: #dbdfdf;
      border: solid #7E9C18 1px;
      outline: none;
      margin-bottom: 10px;
      margin-top: 8px;
      border-radius: 4px; }
  .box3 #forgotPassword {
    width: 140px;
    margin-top: 18px;
    float: left; }
  .box3 #forgotPassword a {
    text-decoration: none;
    color: black; }
  .box3 #forgotPassword a:hover {
    text-decoration: underline; }
  .box3 #submit {
    width: 160px;
    float: right; }
    .box3 #submit input[type="submit"] {
      border: none;
      outline: none;
      background: #7E9C18;
      padding: 10px 20px;
      cursor: pointer;
      font-size: 16px;
      font-family: "Trebuchet MS", Helvetica, sans-serif;
      border-radius: 3px;
      color: #FFF;
      float: right; }

.register2 {
  position: absolute;
  top: 50%;
  left: 49%;
  top: 15%; }
  .register2 .strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; }
  .register2 .strike > span {
    position: absolute;
    display: inline-block; }
  .register2 .strike > span:before,
  .register2 .strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 100px;
    height: 1px;
    background: black; }
  .register2 .strike > span:before {
    right: 100%;
    margin-right: 15px; }
  .register2 .strike > span:after {
    left: 100%;
    margin-left: 15px; }

.register {
  position: absolute;
  top: 50%;
  left: 49%; }
  .register .strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; }
  .register .strike > span {
    position: absolute;
    display: inline-block; }
  .register .strike > span:before,
  .register .strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 100px;
    height: 1px;
    background: black; }
  .register .strike > span:before {
    right: 100%;
    margin-right: 15px; }
  .register .strike > span:after {
    left: 100%;
    margin-left: 15px; }

.register-button {
  position: absolute;
  margin-top: 50px;
  top: 53%;
  left: 47%; }

.signIn-button {
  position: absolute;
  margin-top: 50px;
  top: 53%;
  left: 47%;
  top: 16%;
  left: 47%; }

#menus {
  width: 90%;
  margin-top: 12px; }
  #menus h3 {
    margin: 12px;
    color: #4D4D4D;
    text-decoration: underline;
    font-size: 22px; }
  #menus p {
    margin: 12px 15px 12px 15px;
    font-size: 13px; }
  #menus b {
    color: #4D4D4D; }

.accordion {
  background: #cccecd;
  width: 100%;
  text-align: left;
  color: #4f6607;
  padding: 16px;
  font-size: 15px;
  border: none;
  border-bottom: 1px solid #4D4D4D;
  outline: none;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border-radius: 0; }
  .accordion:active {
    background: #a5a4a4;
    color: white; }
  .accordion:hover {
    cursor: pointer;
    background: #a5a4a4;
    color: white; }
  .accordion:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px; }
  .accordion:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px; }

.panel {
  padding: 0px 18px;
  background: #D7D7D7;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .panel .panel-body {
    padding: 13px; }

.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  padding-top: 5px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.checkbox input {
  opacity: 0;
  position: absolute;
  cursor: pointer; }

.checkbox:hover input ~ .check {
  border: solid 2px #7E9C18; }

.checkbox input:checked ~ .check {
  border: none;
  background: #7E9C18; }

.checkbox input:checked ~ .check:after {
  display: block; }

.checkbox .check:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg); }

.check {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background: #eee;
  border: solid 1px #ccc; }

.check:after {
  content: '';
  position: absolute;
  display: none; }

[class*="col-"] {
  width: 100%; }

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%; }
  .col-2 {
    width: 16.66%; }
  .col-3 {
    width: 25%; }
  .col-4 {
    width: 33.33%; }
  .col-5 {
    width: 41.66%; }
  .col-6 {
    width: 50%; }
  .col-7 {
    width: 58.33%; }
  .col-8 {
    width: 66.66%; }
  .col-9 {
    width: 75%; }
  .col-10 {
    width: 83.33%; }
  .col-11 {
    width: 91.66%; }
  .col-12 {
    width: 100%; } }

#menu-section {
  margin: 40px auto;
  padding-left: 120px; }
